:root {
    --block-text-color                                      : #e6e7ef;
    --body-background-color                                 : rgb(16, 16, 28);
    --body-text-color                                       : #e0e0e3;
    --border-color                                          : #383838;
    --copy-button-background-color-active                   : rgba(168, 168, 176, 0.3);
    --copy-icon-brightness                                  : 250%;
    --detail-background-color                               : #404040;
    --even-row-color                                        : #484848;
    --invalid-tag-background-color                          : #ffe6e6;
    --invalid-tag-text-color                                : #000000;
    --link-color                                            : #a0c0f8;
    --link-color-active                                     : #ffb863;
    --navbar-background-color                               : rgb(51, 51, 85);
    --navbar-text-color                                     : #ffffff;
    --odd-row-color                                         : #383838;
    --search-input-background-color                         : #000000;
    --search-input-placeholder-color                        : #909090;
    --search-input-text-color                               : #ffffff;
    --search-tag-highlight-color                            : #ffff00;
    --section-background-color                              : rgb(34, 34, 51);
    --selected-background-color                             : #f8981d;
    --selected-link-color                                   : #1f389c;
    --selected-text-color                                   : #253441;
    --snippet-background-color                              : #383838;
    --snippet-highlight-color                               : #f7c590;
    --snippet-text-color                                    : var(--block-text-color);
    --subnav-background-color                               : rgb(51, 51, 85);
    --table-border-color                                    : #000000;
    --title-color                                           : #ffffff;
    }
